openapi: 3.0.3
info:
  title: Dyn.Art Core Service API
  description: wip
  version: 1.0.0
servers:
  - url: https://api.dyn.art
    description: Production server

paths:
  /v1/health:
    get:
      summary: Health endpoint
      description: Check whether api can be reached
      tags:
        - Health
      responses:
        '200':
          description: Server is up and running
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthDto'

  /v1/auth/login:
    post:
      summary: User login endpoint
      description: Authenticate a user with their credentials
      tags:
        - Authentication
      requestBody:
        description: User credentials
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email: 
                  type: string
                  format: email
                  example: user@example.com
                password:
                  type: string
                  format: password
                  example: Admin12345!
              required:
                - email
                - password
      responses:
        '200':
          description: Successful login
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: JWT token for authenticated user
                    example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Invalid email or password
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
        '500':
          description: Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Internal server error
components:
  schemas:
    ServiceError:
      type: object
      description: Error Response
      properties:
        error_code:
          type: string
          description: Error code
        error_description:
          type: string
          description: Error description
          nullable: true
        error_uri:
          type: string
          description: Error URI
          nullable: true
        additional_errors:
          type: array
          items:
            type: object
      example:
        error_code: "400"
        error_description: "Bad Request"
        error_uri: null
        additional_errors: []
    HealthDto:
      type: object
      required:
        - status
        - message
      properties:
        message:
          type: string
        status:
          $ref: '#/components/schemas/HealthStatus'
    HealthStatus:
      type: string
      enum:
        - Up
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
