# Dependencies
**/node_modules
**/rust_modules

# Testing artifacts
**/coverage

# Build artifacts and directories
**/.next/
**/out/
**/build
**/dist
**/dist.*
**/target
**/pkg

# Debug logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# Local environment files
.env
.env.local
.env.dev.local
.env.test.local
.env.prod.local

# Development tools specific files
**/.turbo
**/.vercel
.git

# Mic
*.todo
**/.DS_Store
*.pem
