# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
rust_modules
node_modules
.pnp
.pnp.js

# Testing
coverage

# Next.js
.next/
out/
build

# Misc
.DS_Store
*.pem
.temp

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Turbo
.turbo

# Vercel
.vercel

# Node
dist
dist.*

# Wasm
target
pkg

# Other
*.todo
