# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
rust_modules

# Testing
coverage

# Build artifacts and directories
.next/
out/
build
dist
dist.*
target
pkg

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Development tools specific files
.turbo
.vercel
.git

# Misc
*.todo
.DS_Store
*.pem
