{
  "openapi": "3.0.0",
  "info": {
    "title": "Google Fonts Developer API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://www.googleapis.com/webfonts/v1"
    }
  ],
  "paths": {
    "/webfonts": {
      "get": {
        "summary": "Retrieve the list of fonts",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your developer API Key."
          },
          {
            "name": "family",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Name of a font family."
          },
          {
            "name": "subset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Name of a font subset."
          },
          {
            "name": "capability",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["VF", "WOFF2"]
            },
            "description": "Type of font source file."
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["alpha", "date", "popularity", "style", "trending"]
            },
            "description": "alpha | date | popularity | style | trending."
          }
        ],
        "responses": {
          "200": {
            "description": "A list of fonts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "kind": {
                      "type": "string",
                      "description": "The kind of object, a webfont object."
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "family": {
                            "type": "string",
                            "description": "The name of the family."
                          },
                          "subsets": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "A list of scripts supported by the family."
                          },
                          "menu": {
                            "type": "string",
                            "description": "A url to the family subset covering only the name of the family."
                          },
                          "variants": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The different styles available for the family."
                          },
                          "version": {
                            "type": "string",
                            "description": "The font family version."
                          },
                          "lastModified": {
                            "type": "string",
                            "format": "date",
                            "description": "The date (format \"yyyy-MM-dd\") the font family was modified for the last time."
                          },
                          "files": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "string"
                            },
                            "description": "The font family files (with all supported scripts) for each one of the available variants."
                          },
                          "category": {
                            "type": "string",
                            "description": "Category of the font (ex: sans-serif, monospace)."
                          },
                          "kind": {
                            "type": "string",
                            "description": "The kind of object, a webfont object."
                          },
                          "axes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "tag": {
                                  "type": "string",
                                  "description": "Tag of the variable font axis."
                                },
                                "start": {
                                  "type": "number",
                                  "format": "float",
                                  "description": "Start of the range of the variable font axis."
                                },
                                "end": {
                                  "type": "number",
                                  "format": "float",
                                  "description": "End of the range of the variable font axis."
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
